%h1 Listing currencies

#indexhead
  .paginator= paginate @currencies

%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th Shortname
      %th Longname
      %th

  %tbody
    - @currencies.each do |currency|
      %tr
        %td= currency.shortname
        %td= currency.longname
        %td
          = link_to t('Show'), currency
          &nbsp;|&nbsp;
          = link_to t('Edit'), edit_currency_path(currency)
          &nbsp;|&nbsp;
          = link_to t('Destroy'), currency, :method => :delete, :data => { :confirm => 'Are you sure?' }

#indexfoot
  .paginator= paginate @currencies

= link_to t('New Currency'), new_currency_path
