= simple_form_for(@transfer) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      = f.association :account, prompt: 'Select an Account', disabled: true
    .form-group
      = f.association :payee, prompt: 'Select a Payee', disabled: true
    .form-group
      = f.association :currency, prompt: 'Select a Currency', disabled: true
      = f.input :value, as: :decimal, disabled: true
      = f.input :description
    .form-group
      = f.input :transfer_date, as: :date_picker, disabled: true
      = f.input :repeat, disabled: true
      = f.input :repeat_until, as: :date_picker, disabled: true
    .form-group
      = f.input :transaction_password, as: :string, disabled: true
  .form-actions
    .well.col-sm-9.col-sm-offset-3
      = f.button :submit, :class=> 'btn-primary'

.clearfix
