= simple_form_for(@transfer) do |f|

  .form-inputs
    = f.input :transaction_hash, as: :hidden
    = f.input :initiated_at, as: :hidden
    //= f.input :otp_was_requested, as: :hidden
    //= f.input :transaction_password_valid, as: :hidden
    //= f.input :one_time_password_valid, as: :hidden
    .form-group
      = f.association :account, prompt: 'Select an Account'
    .form-group
      = f.association :payee, prompt: 'Select a Payee'
    .form-group
      = f.association :currency, prompt: 'Select a Currency'
      = f.input :value, as: :decimal
      = f.input :description
    .form-group
      = f.input :transfer_date, as: :date_picker
      = f.input :repeat
      = f.input :repeat_until, as: :date_picker
    .form-group
      - if @transfer.transaction_password_valid?
        = f.input :one_time_password, as: :string
      - else
        = f.input :transaction_password, as: :string

  .form-actions
    .well.col-sm-9.col-sm-offset-3
      = f.button :submit, class: 'btn-primary'
      = f.button :submit, "Resend Otp", class: 'btn-info', disabled: true

.clearfix
