= simple_form_for(@transfer) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      = f.association :account, prompt: 'Select an Account'
    .form-group
      = f.association :payee, prompt: 'Select a Payee'
    .form-group
      = f.association :currency, prompt: 'Select a Currency'
      = f.input :value, as: :decimal
      = f.input :description
    .form-group
      = f.input :transfer_date, as: :date_picker
      = f.input :repeat
      = f.input :repeat_until, as: :date_picker
    .form-group
      = f.input :transaction_password, as: :string
  .form-actions
    = f.button :submit
