%p#notice= notice

%p
  %b Account:
  = @transfer.account.try(:to_label)
%p
  %b Payee:
  = @transfer.payee.try(:to_label)
%p
  %b Currency:
  = @transfer.currency.try(:to_label)
%p
  %b Value:
  = @transfer.value
%p
  %b Description:
  = @transfer.description
%p
  %b Transfer date:
  = @transfer.transfer_date
- if @transfer.repeat?
  %p
    %b Repeat until:
    = @transfer.repeat_until
%p
  %b Status:
  = @transfer.status
%p
  %b Submitted at:
  %time= timeago_tag @transfer.submitted_at

= link_to 'Edit', edit_transfer_path(@transfer)
\|
= link_to 'Back', transfers_path
