= simple_form_for(@account) do |f|
  = f.error_notification

  .form-inputs
    = f.input :account_number
    = f.association :currency, prompt: t("Select a Currency")
    = f.input :balance

  .form-actions
    = f.button :submit
