%p#notice= notice

%p
  %b Account number:
  = @account.account_number
%p
  %b Currency:
  = @account.currency.try(:to_label)
%p
  %b Balance:
  = @account.balance

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
